<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections> 
       <sectionGroup name="spring">
         <section name="context" 

           type ="Spring.Context.Support.ContextHandler, Spring.Core"/>
         <section name="objects" 

           type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
       </sectionGroup>
    <!--section name="nhibernate" 

          type="System.Configuration.NameValueSectionHandler, System, 
                Version=4.1.0.4000,Culture=neutral, 
                PublicKeyToken=b77a5c561934e089" /-->
    </configSections>
    <spring>
      <context>
        <resource uri="config://spring/objects"/>
      </context>
      
      <!-- CONFIGURATIONS-->
      <objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database">

        <!-- Database Configuration -->
        <db:provider id="DbProvider"
                         provider="System.Data.SqlClient"
                         connectionString="Data Source=NEWTON-PC\SQLEXPRESS;Initial Catalog=Renn_App_DB;Integrated Security=True"/>


        <!-- configure session factory -->
        <object id="NHibernateSessionFactory" type="Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate21">
          <property name="DbProvider" ref="DbProvider"/>
          <property name="MappingAssemblies">
            <list>
              <value>Rennaisance_WebService</value>
            </list>
          </property>
          <property name="HibernateProperties">
            <dictionary>
              <entry key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
              <entry key="dialect" value="NHibernate.Dialect.MsSql2012Dialect"/>
              <entry key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
            </dictionary>
          </property>

          <!-- provides integation with Spring's declarative transaction management features -->
          <property name="ExposeTransactionAwareSessionFactory" value="true" />
        </object>

        <!-- Exception translation object post processor -->
        <object type="Spring.Dao.Attributes.PersistenceExceptionTranslationPostProcessor, Spring.Data"/>

        <!-- Configure transaction management strategy -->
        <object id="transactionManager"
              type="Spring.Data.NHibernate.HibernateTransactionManager, Spring.Data.NHibernate21">
          <property name="DbProvider" ref="DbProvider"/>
          <property name="SessionFactory" ref="NHibernateSessionFactory"/>
        </object>
        
        <!-- DAO objects go here -->
        <object id="AnnouncementDao" type="Rennaisance_WebService.Models.HibernateAnnouncementDao, Rennaisance_WebService">
          <property name="SessionFactory" ref="NHibernateSessionFactory"/>
        </object>

      </objects>
    </spring>

  <appSettings></appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
